@font-face {
    font-family: main;
    src: url(./Cocogoose-Pro-Regular-trial.ttf);
}
@font-face {
    font-family: main2;
    src: url(./Cocogoose-Pro-Thin-trial.ttf);
}
@font-face {
    font-family: main3;
    src: url(./Cocogoose-Pro-Semilight-trial.ttf);
}
  
@font-face {
    font-family: arrow;
    src: url(./Littlearrows-Regular.otf);
}
@font-face {
    font-family: mainSecond;
    src: url(./Nexa-Heavy.ttf);
}
@font-face {
  font-family: mainSecondLight;
  src: url(./Nexa-ExtraLight.ttf);
}
@font-face {
  font-family: mainSecondLight1;
  src: url(./Nexa\ Regular.otf);
}
  
:root {
    --color1: #0e0e0e;
    --color2: #181818;
    --color3: #949494;
    --color4: #d6d6d6;
    --color5: #ffffff;

    --theme1: #4885c6;
    --theme2: #1247c2;
    --theme3: #0d3277;
    --theme4: #42445c;
    --theme5: #090e2e;
}
  
html, body {
    margin: 0;
    padding: 0;
}



.logo{
    width: 40px ;
    height: auto;
}

  
.hero-container {
    position: relative;
    height: 100vh;
    background-color: var(--color1);
    margin: 3vw;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.corner {
    position: absolute;
    background-color: transparent;
    color: var(--color4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: main;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    z-index: 9999999;

}

.overlay{
  position: absolute;
  display: flex;
  transform: scale(1.5);
  opacity: 15%;
}

  
.top-left {
    top: 3vw;
    left: 3vw;
    overflow: hidden;
    
}
  
.top-right {
    top: 3vw;
    right: 3vw;
}
  
.bottom-left {
    bottom: 5vw;
    left: 3vw;
}
  
.bottom-right {
    bottom: 5vw;
    right: 3vw;
}
  
.main-title-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: max-content;
    width: max-content;
    margin-left: -35vw;
    z-index: 9999999;
}
  
.main-title {
    color: var(--color5);
    margin: 0 0.75vw;
    padding: 0; 
    font-size: 13vw;
    line-height:11vmax;
    font-family: mainSecond;
}

  
.time{
    color: var(--color3);
    font-family: mainSecond;
    text-transform: lowercase;
    font-size: 0.8vw;    
}

.date-and-resume{
  margin-left: 1.5vw;
  line-height: 1vmax;
  display:block;
  align-items: center;
  justify-content: center;
  width: max-content;
  z-index: 9999999;

}

  
.main-title-container button {
    border-radius: 4000px;
    color: var(--theme1);
    background-color: transparent;
    border: 2px solid var(--color4);
    padding: 0.5vw 1vw 0.5vw 1vw;
    transition: 0.4s ease-in-out;
    font-family: mainSecond;
    font-size: 1vw;
}

#resumeButton{
  transform: scale(1);
  transition: 0.4s ease-in-out;
}

#resumeButton:hover{
  transform: scale(0.9);
}

.navbar a{
    color: var(--color5);
    text-decoration: none;
    transition: 0.4s ease-in-out;
}


.navbar a:hover{
    color: var(--theme1);
    transform: scale(1.15);
    cursor: pointer;
}
  
.main-title-container button:hover{
    transform: scale(1.5);
    cursor: pointer;
    background-color: var(--color4);
    border: 2px solid var(--color4);
    color: var(--color1);
}
  
.navbar {
    display: flex;
    justify-content: space-evenly; /* or space-around for more space on the sides */
    align-items: flex-start;
    width: 100%;
    text-decoration: none;
    color: var(--color5);
}


  
.arrow {
    margin-bottom: -80vh;
    position: absolute;
    z-index: 9999999;
    width: max-content;
    height: max-content;
    color: var(--color3);
    font-family: main3;
    cursor: pointer;
    animation: slideAndFade 2s infinite; /* Adjust the duration as needed */
  }
  
.arrow img{
    width: 40px;
    height: 40px;
}
  
@keyframes slideAndFade {
    0% {
      transform: translateY(-10px);
      opacity: 0.5;
    }
    90% {
      transform: translateY(10px);
      opacity: 0;
    }
    100%{
      transform: translateY(-10px);
      opacity: 0;
    }
}

.imageDesk{
  display: flex;
  justify-content: right;
  width: 80vw;
  margin-left: 10vw;
  z-index: 9999999;
}

.imageDesk img{
  filter: grayscale(0%) brightness(100%) saturate(120%);
  width: 40vw;
  mix-blend-mode:hard-light;
  height: auto;
  position: absolute;
  margin-top: -32vmax;
  z-index: 9999999;
  opacity: 80%;
  transition: 0.75s ease-in-out;
}

.imageDesk img:hover{
  transform: matrix(1, 0, 0, 1.4, 0, 0) scale(0.9);
}





#projects{
  display: block;
}

#product-container{
  margin-left: 5vmin;
  white-space: wrap; /* Prevent cards from wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 0px 10px 40px 10px;
  display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: left;
    
}

.projectSection {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  width: 100%;
height: max-content;
background-color: transparent;
}

.projectTitle{
  font-size: 6vmin;
  font-family: mainSecond;
  color: var(--color1);
  width: max-content;
  padding: 2vw 5vw;
  margin-bottom: -1.5vh;
  padding-bottom: 1vh;
}


.product-card {
  display: inline-block;
  background-color: var(--color1);
  color: var(--color5);
  padding: 25px;
  margin: 20px;
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  width: calc(33.33% - 50px); /* Set width to one-third minus margin */
  box-sizing: border-box;
  
}

.product-card h3{
  font-family: mainSecond;
  margin-top: 1vh;
  margin-bottom: -1vh;
}

.product-card p{
  font-family: mainSecondLight;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  filter: grayscale(100%) brightness(50%);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.product-card img:hover{
  filter: grayscale(0%) brightness(100%);
}
.product-card button {
  border-radius: 90px;
  padding: 0.5vw 1vw;
  color: var(--theme1);
  background-color: transparent;
  border: 2px solid var(--color4);
  font-family: mainSecond;
  transition: 0.3s ease-in-out;
}

.product-card button:hover{
  transform: scale(0.9);
  cursor: pointer;
  color: var(--color1);
  background-color: var(--color4);
}







.aboutSection{
  color: var(--theme1);
  margin-left: auto;
  margin-right: auto;
    height: min-content;
    padding-bottom: 5vh;
    background-color: var(--color1);
    margin-bottom: 5vh;
    width: 100%;
}

.aboutTitle{
  font-size: 6vmin;
  font-family: mainSecond;
  color: var(--color4);
  width: max-content;
  padding: 2vw 3vw;
  margin-left: 5vmin;
}



#aboutMainContainer{
  overflow: hidden;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

#aboutTextMain{
  width: calc(100%/1.1);
  line-height: 30px;
  text-align: left;
}

.aboutBtn{
  border: 2px solid var(--color4);
  font-size: 2vmin;
  color: var(--theme1);
  border-radius: 30px;
  padding: 1vmin 2vmin;
  margin-left: 12vmin;
  font-family: mainSecond;
  background-color: transparent;
  margin-bottom: 5vh;
  transition: 0.3s ease-in-out;
}

.aboutBtn:hover{
  background-color: var(--color4);
  color: var(--color1);
  transform: scale(0.9);
  cursor: pointer;
}

#aboutTextMain p{
  text-transform: lowercase;
  color: var(--color4);
  font-family: mainSecondLight;
  letter-spacing: 0.05vw;
  font-size: 2.75vmin;
  margin-top: 0vh;
  margin-left: 10vmin;
  margin-bottom: 3vh;
}


#aboutMainContainer1{
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column; /* Updated to stack containers vertically */
  position: relative; /* Added position: relative to establish a positioning context */
}

#mainContainerAbout1{
  border: 4px var(--theme1) solid;
  width: calc(100% / 1.25);
  height: max-content;
  border-radius: 15px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 2vmin 4vmin;
  overflow: hidden;
  margin-bottom: 4vh;
}
#mainContainerAbout2{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 3px var(--theme1) solid;
  width: calc(100% / 1.8);
  height: max-content;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#progressContainer{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Adjust this property as needed */
}

#progressContainer span{
  margin-top: 18px;
  transition: 0.3s ease-in-out;
}



#each{
  display: block;
  text-align: center;
  font-family: mainSecond;
  color: white;
}


#mainTextAbout1,
#mainText2About1 {
  color: white;
  font-family: mainSecond;
  font-size: 4.5vmin;
  width: 100%;
  text-transform: lowercase;
}

#mainText2About1 {
  font-family: mainSecondLight;
  font-size: 2.3vmin;
  margin-top: 5px; /* Adjusted margin */
  
}



.progress-circle {
  font-size: 20px;
  margin: 20px;
  position: relative; /* so that children can be absolutely positioned */
  padding: 0;
  width: 5em;
  height: 5em;
  background-color: #F2E9E1; 
  border-radius: 50%;
  line-height: 5em;
  transition: 0.3s ease-in-out;
  filter: grayscale(100%) brightness(50%);
}

.progress-circle:hover{
  filter: grayscale(0%) brightness(100%);
  transform: scale(1.2);
}







.contactSection{
  border-radius: 30px;
  font-family: mainSecond;
  color: var(--theme1);
  margin-left: auto;
  margin-right: auto;
    width: 50%;
    height: 50vh;
    background-color: var(--color1);
    margin-bottom: 5vh;
}

.contactTitle{
  font-size: 4vmin;
  font-family: mainSecond;
  color: var(--color4);
  width: max-content;
  padding: 2vw 3vw;
  padding-bottom: 0;
  margin-bottom: 1vh;
}

.contactForm{
  display: flex;
  justify-content: left;
  margin-left: 6vmin;
}

.contactForm form{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5vmin;
  margin-top: 1vmin;
}

label {
  position: absolute;
  margin-top: 1vmin;
  top: 40%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  transition: 0.3s ease-out;

}

input:focus + label,
input:valid + label {
  top: -15px;
  font-size: 1.2vmin;
  color: var(--theme1);
}


.contactForm input{
  width: 70%;
  padding: 1vmin;
  border-radius: 15px;
  font-family: mainSecond;
  font-size: 1.5vmin;
  border: none;
}
.contactForm button{
  width: max-content;
  margin: 0vmin 1vmin 0vmin 1vmin;
  border-radius: 500px;
  border: 2px solid var(--color4);
  font-size: 1.5vmin;
  color: var(--theme1);
  padding: 0.5vmin 2vmin;
  font-family: mainSecond;
  background-color: transparent;
  margin-bottom: 5vh;
  transition: 0.3s ease-in-out;
}

.contactForm button:hover{
  transform: scale(0.9);
  cursor: pointer;
  background-color: var(--color4);
  border: 2px solid var(--color4);
  color: var(--color1);
}

#messageBox{
  height: 10vh;
  border-radius: 15px;
}

.contactFormRight{
  background-color: var(--color2);
  width: max-content;
  border-radius: 20px;
  font-family: mainSecondLight;
  color: white;
  margin-right: 0vmin;
  margin-top: -2vh;
  margin-left: 5vmin;
  height: 300px;
}

.socialLine{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  padding-top: 4.5vh;
  margin-left: 5vmin;
  margin-right: 5vmin;
}

.socialLine img{
  width: 30px;
  height: auto;
  margin-top: 0.7vh;
  transition: 0.3s ease-in-out;
}

.socialLine img:hover{
  transform: scale(1.2);
}




.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: var(--color3);
  color: #fff;
  font-size: 3vmin;
  padding: 1vmin 1.7vmin;
  border: none;
  cursor: pointer;
  display: none;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  z-index: 99999999;
}

.scroll-to-top img{
  width: 20px;
  height: auto;
  transform: rotate(180deg);
}

.scroll-to-top:hover {
  cursor: pointer;
  background-color: #4885c6;
  transform: scale(1.1);
}

footer{
  background-color: var(--color1);
  color: var(--color3);
  padding: 2vw;
  font-family: mainSecond;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#footerFirst{
  font-family: mainSecondLight;
}
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
@media (max-width: 768px) {
    .hero-container {
      background-color: var(--color1);
      position: relative;
      height: 90vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3vw;
      border-radius: 30px;
      margin-bottom: 3vh;
    }
  
    .logo{
      width: 30px ;
      height: auto;
    }
  
    .corner {
      position: absolute;
      background-color: transparent;
      color: #fff;
      border-radius: 0%;
      width: max-content;
      letter-spacing: 0vw;
    }
  
    .corner:hover{
      color: white;
      transform: scale(1);
      cursor: default;
    }
  
    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
      margin: 3vw;
      top: 2vh;
      left: 0;
      position: relative;
      width: max-content;
    }
  
    .main-title-container {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      height: 100%;
      margin-bottom: 0vw;
      margin-left: 8vmin;
      width: 100%;
    }
  
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .corner {
      width: auto;
    }

    .corner a{
      font-size: 3vw;
    }
    
    .corner a:hover{
      color: white;
      transform: none;
    }
  
    .main-title {
      color: #fff;
      margin: 0;
      padding: 0; 
      font-size: 20vw;
      line-height:10vmax;
    }
  
    .arrow {
      margin-top: -18vh;
      display: flex;
      margin-left: calc(50vw);
      z-index: 9999999;
      width: max-content;
      height: max-content;
      font-family: arrow;
      animation: slideAndFade 3s infinite; /* Adjust the duration as needed */
    }
  
    .arrow img{
      width: 0;
      height: 0;
    }
  
    .time{
      color: var(--color3);
      font-family: mainSecondLight1;
      font-weight: bolder;
      text-transform: lowercase;
      font-size: 2.5vw;
      margin-top: 0vw;
    }


    #resumeButton{
      padding: 1vw 3vw 1vw 3vw;
      font-size: 3vw;
      background-color: var(--color1);
      color: var(--color5);
    }

    #resumeButton:hover{
      font-size: 3vw;
      transform: scale(1);
    }

    .overlay{
      opacity: 40%;
      transform: scale(1.15);
    }

    .imageDesk{
      display: none;
      justify-content: right;
      width: 80vw;
      margin-left: 10vw;
      z-index: 9999999;
    }
    
    .imageDesk img{
      width: 40vw;
      mix-blend-mode:exclusion;
      height: auto;
      position: absolute;
      margin-top: -32vmax;
      z-index: 9999999;
    }


    .projectSection {
      margin-left: auto;
      margin-right: auto;
      border-radius: 0px;
      width: 100%;
    height: max-content;
    padding-bottom: 2.5vh;
    background-color: transparent;
  }
    
    .projectTitle{
      font-size: 8vmin;
      font-family: mainSecond;
      color: var(--color1);
      width: max-content;
      padding: 4vw 6vw;
      padding-bottom: 0;
      margin-bottom: -2vh
    }

    #product-container{
      margin-left: -1vmin;
      white-space: nowrap; /* Prevent cards from wrapping to the next line */
      overflow-x: auto; /* Enable horizontal scrolling */
      padding: 10px;
      display: block;
      flex-wrap: wrap; /* Allow cards to wrap to the next line */
      justify-content: left;
    }

    .product-card {
      width: auto; /* Set width to one-third minus margin */
      white-space: normal;
      height: auto;
    }


    .product-card button{
      padding: 1vw 3vw;
      border-radius: 90px;
    }

    .product-card button:hover{
      transform: scale(1);
    }

    .product-card p{
      white-space: normal; /* Add this rule to allow wrapping */
    }
    
    .aboutSection{
      font-family: mainSecond;
      color: var(--theme1);
      margin-left: auto;
      margin-right: auto;
        width: 100%;
        height: max-content;
        background-color: var(--color1);
        margin-bottom: 5vh;
    }
    
    .aboutTitle{
      font-size: 8vmin;
      font-family: mainSecond;
      color: var(--color4);
      width: max-content;
      padding: 4vw 5vw;
    }

    

    #aboutMainContainer{
      overflow: hidden;
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }

    #aboutTextMain{
      font-size: 5vmin;
      width: calc(100%/1.1);
      line-height: 20px;
      text-align: left;
      margin-bottom: -2vh;
    }

    .aboutBtn{
      border: 2px solid var(--color4);
      font-size: 3vmin;
      color: var(--theme1);
      border-radius: 30px;
      padding: 1vmin 2vmin;
      margin-left: 10vmin;
      font-family: mainSecond;
      background-color: transparent;
      margin-bottom: 3vh;
      transition: 0.3s ease-in-out;
    }

    .aboutBtn:hover{
      background-color: var(--color1);
      color: var(--theme1);
      transform: scale(1);
      cursor: default;
    }

    #aboutTextMain p{
      text-transform: lowercase;
      color: var(--color4);
      font-family: mainSecondLight;
      letter-spacing: 0.05vw;
      font-size: 3.5vmin;
      margin-top: 0vh;
      margin-left: 10vmin;
      margin-bottom: 3vh;
    }


    #aboutMainContainer1{
      height: max-content;
      display: flex;
      align-items: center;
      flex-direction: column; /* Updated to stack containers vertically */
      position: relative; /* Added position: relative to establish a positioning context */
    }

    #mainContainerAbout1{
      border: 4px var(--theme1) solid;
      width: calc(100% / 1.25);
      height: max-content;
      border-radius: 15px;
      display: block;
      align-items: center;
      justify-content: center;
      padding: 2vmin 4vmin;
      overflow: hidden;
      margin-bottom: -3.5vh;
    }
    #mainContainerAbout2{
      margin-top: 30px;
      margin-bottom: 30px;
      border: 3px var(--theme1) solid;
      width: calc(100% / 1.8);
      height: max-content;
      border-radius: 15px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }

    #progressContainer{
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; /* Adjust this property as needed */
    }

    #progressContainer span{
      margin-top: 18px;
      transition: 0.3s ease-in-out;
    }



    #each{
      display: block;
      text-align: center;
      font-family: mainSecond;
      color: white;
    }


    #mainTextAbout1,
    #mainText2About1 {
      color: white;
      font-family: mainSecond;
      font-size: 7vmin;
      width: 100%;
      text-transform: lowercase;
    }

    #mainText2About1 {
      font-family: mainSecondLight;
      font-size: 3.5vmin;
      margin-top: 5px; /* Adjusted margin */
      
    }


    .progress-circle {
      font-size: 20px;
      margin: 20px;
      position: relative; /* so that children can be absolutely positioned */
      padding: 0;
      width: 5em;
      height: 5em;
      background-color: #F2E9E1; 
      border-radius: 50%;
      line-height: 5em;
      transition: 0.3s ease-in-out;
      filter: grayscale(0%) brightness(100%);
   }
   
   .progress-circle:hover{
      filter: grayscale(0%) brightness(100%);
      transform: scale(1);
   }
    



    .contactSection{
      border-radius: 30px;
      font-family: mainSecond;
      color: var(--theme1);
      margin-left: auto;
      margin-right: auto;
        width: 85%;
        height: 61vh;
        background-color: var(--color1);
        margin-bottom: 5vh;
    }
    
    .contactTitle{
      font-size: 8vmin;
      font-family: mainSecond;
      color: var(--color4);
      width: max-content;
      padding: 4vw 6vw;
      padding-bottom: 0;
      margin-bottom: 1vh;
    }
    
    .contactForm{
      display: flex;
      margin-left: 6vmin;
      flex-direction: column;
    }
    
    .contactForm form{
      width: 125%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .input-container {
      position: relative;
      margin-bottom: 20px;
    }
    
    input {
      width: 100%;
      height: 3vh;
      border: 1px solid #ccc;
      border-radius: 2px;
      font-size: 20vmin;
      margin-top: 1vmin;
    }
    
    label {
      position: absolute;
      margin-top: 1vmin;
      top: 48%;
      left: 10px;
      font-size: 3.5vmin;
      transform: translateY(-50%);
      color: #777;
      pointer-events: none;
      transition: 0.3s ease-out;
    
    }
    
    input:focus + label,
    input:valid + label {
      top: -10px;
      font-size: 2vmin;
      color: var(--theme1);
    }
    
    
    .contactForm input{
      width: 70%;
      padding: 1vmin;
      border-radius: 15px;
      font-family: mainSecond;
      font-size: 4vmin;
      border: none;
    }
    .contactForm button{
      width: max-content;
      margin: 0vmin 1vmin 0vmin 1vmin;
      border-radius: 500px;
      border: 2px solid var(--color4);
      font-size: 2.5vmin;
      color: var(--theme1);
      padding: 01vmin 2vmin;
      font-family: mainSecond;
      background-color: transparent;
      margin-bottom: 5vh;
      transition: 0.3s ease-in-out;
    }
    
    .contactForm button:hover{
      transform: scale(1);
      cursor: default;
      background-color: var(--color1);
      border: 2px solid var(--color5);
      color: var(--theme1);
    }
    
    #messageBox{
      height: 10vh;
      border-radius: 15px;
    }
    
    .contactFormRight{
      background-color: var(--color2);
      width: 92%;
      border-radius: 20px;
      font-family: mainSecondLight;
      color: white;
      margin-right: 0vmin;
      margin-top: -2vh;
      margin-left: 0vmin;
      height: 17vh;
    }
    
    .socialLine{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding-top: 0.65vh;
      margin-left: 5vmin;
      margin-right: 5vmin;
    }
    
    .socialLine img{
      width: 30px;
      height: auto;
      margin-top: 0.7vh;
      transition: 0.3s ease-in-out;
    }
    
    .socialLine img:hover{
      transform: scale(1.2);
    }
    
  
    
    .scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #0056b3;
      color: #fff;
      font-size: 18px;
      padding: 10px 10px 5px 10px;
      border: none;
      cursor: pointer;
      display: none;
      border-radius: 50px;
      transition: background-color 0.3s ease-in-out;
      transform: scale(1);
    }
    
    .scroll-to-top img{
      width: 20px;
      height: auto;
      transform: rotate(180deg);
    }
    
    .scroll-to-top:hover {
      cursor: default;
      background-color: #0056b3;
      transform: scale(1);
    }
    
    footer{
      background-color: var(--color1);
      color: var(--color3);
      padding: 5vw;
      font-family: mainSecond;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
    
    #footerFirst{
      font-family: mainSecondLight;
    }
      


  
}
  